.mediaViewInfo {
	--web-view-name: Plus;
	--web-view-id: Plus;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Plus;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Plus {
	position: absolute;
	width: 205px;
	height: 205px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Plus;
	--web-view-id: Plus;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Summation {
	position: absolute;
	width: 205px;
	height: 268px;
	left: 0px;
	top: -31px;
	overflow: visible;
}
.plusBox {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 205px;
	left: 0px;
	top: 31px;
}
#_ {
	position: absolute;
	left: 41px;
	top: 0px;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 220px;
	color: rgba(255,255,255,1);
}